.footer {
  background-color: #333;
  color: antiquewhite;
  display:flex;
  justify-content: center;
  padding: 1.5rem 1.5rem;
  font-weight: 700;
  font-size: 1.20rem;
  text-align: center;
}

@media only screen and (max-width : 590px) {
  .footer {
    font-size: 1rem;
  }
}